<template>
  <NuxtLayout>
    <NuxtPage/>
  </NuxtLayout>
</template>
<script setup lang="ts">

const {siteName} = useAppConfig();

useHead({
  titleTemplate: (s?: string) => s ? `${s} - ${siteName}` : siteName,
  htmlAttrs: {lang: 'fr'},
  link: [{rel: 'icon', type: 'image/x-icon', href: '/favicon.ico?' + useId()}]
})
</script>
