<template>
  <div class="font-roboto-slab">

    <NuxtLink href="/test">TEST</NuxtLink>


    <h1>Nuxt Routing set up successfully!</h1>
    <p>Current route: {{ route.path }}</p>
    <a href="https://nuxt.com/docs/getting-started/routing" target="_blank">Learn more about Nuxt Routing</a>

    <div class="text-red">RED <i class="i-lal:circle"/></div>


    <div>
      <input type="checkbox" class=":uno: peer w-4 h-4 mr-2"/>
      <span class=":uno: font-bold peer-checked:(text-red italic)">TEST PEER</span>
    </div>

    <div class="hover:(text-red font-bold)">
      TEST HOVER
    </div>

    <div class="group">
      TEST GROUP
      <span class="group-hover:text-red">Label</span>
    </div>

    <div>
      TEST CHECKED
      <input type="checkbox" class="w-4 h-4 checked:accent-red">
    </div>


    <div class="group">
      TEST GROUP
      <span class="group-hover:text-red">Label</span>
    </div>

  </div>
</template>
<script setup lang="ts">
const route = useRoute()

useSeo({
  titleTemplate: (s?: string) => s ? s : '',
  title: 'My Amazing Site',
  description: 'This is my amazing site, let me tell you all about it.',
  image: 'https://example.com/image.png',
})

</script>
