<template>
  <div class="font-roboto-slab">
    <NuxtLink href="/">Home</NuxtLink>

  </div>
</template>
<script setup lang="ts">
useSeo({
  title: 'test',
  description: 'test',
  image: 'https://example.com/image.png',
})
</script>
